{% extends 'form/base.html' %}

{% block content %}
    <div id="event-form" class="event-form">
        <form id="event_form" action="{% url 'eventform' %}" method="POST">
            {% csrf_token %}
            <h2 class="text-center" style="margin-bottom: 3rem;">Event Details</h2>       
            {% if error %}
                {{ error }}
            {% endif %}
            <div class="form-group">
                <input id="event_title" type="text" class="form-control" name="title" placeholder="Enter Event Title here" required="required">
            </div>
            
            <div class="form-group">
                <textarea  id="event_description" class="large-desc" name="description" placeholder="Enter your description here" required="required"></textarea>
            </div>

            <div class="container">
                <div class="container-elements">
                    <select name="type" class="form-select" id="event_type">
                        <option value="team">Team</option>
                        <option value="solo">Solo</option>
                        <option value="teamORsolo">Team or Solo</option>
                    </select>
                </div>
                <div class="container-elements">
                    <select name="dept" class="form-select" id="dept">
                        <option value="cse">Computer Science</option>
                        <option value="it">Information Technology</option>
                        <option value="ece">Electronics and Communication Engineering</option>
                        <option value="eee">Electrical and Electronics Engineering</option>
                        <option value="mech">Mechanical Engineering</option>
                        <option value="civil">Civil Engineering</option>
                        <option value="chem">Chemical Engineering</option>
                        <option value="bme">Biomedical Engineering</option>
                    </select>
                </div>
            </div>
                        


            <div class="form-group">
                <input type="number" class="form-control" id="rounds" name="rounds" placeholder="Enter number of rounds here/ 0 if no ronuds" required="required">
                <br><br>
                <select class="form-select" name="type_of_desc" id="type_desc">
                    <option value="desc">Description</option>
                </select>
                <br><br>
                <button type="button" class="btn btn-primary btn-block" onclick="addrounds()">Add Rounds</button>
            </div>


            <div id="round-container">

            </div>
                            
            <div class="form-group">
                <input type="text" id="venue" class="form-control" name="venue" placeholder="Enter the Venue" required="required">
            </div>

            <div class="form-group">
                <input type="number" id="event_participants" class="form-control" name="team_size" placeholder="Enter number of participants per team here/ 1 for individual Event" required="required">
            </div>
            
            <div class="form-group">
                <input type="date" id="event_date" class="form-control" name="date" placeholder="Enter date here" required="required">
            </div>

            <div class="form-group">
                <input type="number" class="form-control" id="winner" name="winner" placeholder="Enter prize amount of winner" required="required">
            </div>                
            <div class="form-group">
                <input type="number" class="form-control" id="runner" name="runner" placeholder="Enter prize amount of runner" required="required">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="third" name="third" placeholder="Enter prize amount of third place" required="required">
            </div>

            <div class="form-group">
                <button id="event_submit" type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>

        </form>


    </div>
{% endblock %}